doctype html
html.light-style.layout-navbar-fixed.layout-menu-fixed(lang="en", dir="ltr", data-theme="theme-default", data-assets-path="assets/", data-template="vertical-menu-template-no-customizer-starter")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    title Warehouse | MB App
    meta(name="description", content="")
    // Favicon
    link(rel="icon", type="image/x-icon", href="/assets/img/favicon/favicon.ico")
    // Fonts
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap", rel="stylesheet")
    // Icons
    link(rel="stylesheet", href="/assets/vendor/fonts/fontawesome.css")
    link(rel="stylesheet", href="/assets/vendor/fonts/tabler-icons.css")
    link(rel="stylesheet", href="/assets/vendor/fonts/flag-icons.css")
    // Core CSS
    link(rel="stylesheet", href="/assets/vendor/css/rtl/core.css")
    link(rel="stylesheet", href="/assets/vendor/css/rtl/theme-default.css")
    link(rel="stylesheet", href="/assets/css/demo.css")
    // Vendors CSS
    link(rel="stylesheet", href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css")
    link(rel="stylesheet", href="/assets/vendor/libs/node-waves/node-waves.css")
    link(rel="stylesheet", href="/assets/vendor/libs/typeahead-js/typeahead.css")
    link(rel="stylesheet", href="/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css")
    link(rel="stylesheet", href="/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css")
    link(rel="stylesheet", href="/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css")
    link(rel="stylesheet", href="/assets/vendor/libs/select2/select2.css")
    link(rel="stylesheet", href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css")
    // Page CSS
    link(rel="stylesheet", href="/css/app-styles.css")
    // Helpers
    script(src="/assets/vendor/js/helpers.js")
    // ! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section
    // ? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.
    script(src="/assets/js/config.js")
  body
    // Layout wrapper
    .layout-wrapper.layout-content-navbar
      .layout-container
        // Menu
        aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
          .app-brand.demo
            a.app-brand-link(href="/index")
              span.app-brand-logo.demo
                svg(width="32", height="22", viewBox="0 0 32 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd", clip-rule="evenodd", d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z", fill="#00718a")
                  path(opacity="0.06", fill-rule="evenodd", clip-rule="evenodd", d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z", fill="#161616")
                  path(opacity="0.06", fill-rule="evenodd", clip-rule="evenodd", d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z", fill="#161616")
                  path(fill-rule="evenodd", clip-rule="evenodd", d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z", fill="#00718a")
              span.app-brand-text.demo.menu-text.fw-bold MB App
            a.layout-menu-toggle.menu-link.text-large.ms-auto(href="javascript:void(0);")
              i.ti.menu-toggle-icon.d-none.d-xl-block.ti-sm.align-middle
              i.ti.ti-x.d-block.d-xl-none.ti-sm.align-middle
          .menu-inner-shadow
          ul.menu-inner.py-1
            
            // Dashboards
            li.menu-item.open
              a.menu-link(href="/index")
                i.menu-icon.tf-icons.ti.ti-smart-home
                div(data-i18n="Dashboards") Dashboards
            // Assistant
            li.menu-header.small.text-uppercase
              span.menu-header-text Assistant
            li.menu-item
              a.menu-link(href="/workflow")
                i.menu-icon.tf-icons.ti.ti-text-wrap-disabled
                div(data-i18n="Workflow") Workflow
            // Maintenance Base
            li.menu-header.small.text-uppercase
              span.menu-header-text Maintenance Base
            li.menu-item
              a.menu-link(href="/cars")
                i.menu-icon.tf-icons.ti.ti-brand-toyota
                div(data-i18n="Cars") Cars
            li.menu-item.active
              a.menu-link.active(href="/warehouse")
                i.menu-icon.tf-icons.ti.ti-building-warehouse
                div(data-i18n="Warehouse") Warehouse
            // Team Management
            - if (loggedUser.role === 'team-leader' || loggedUser.role === 'assistant')
              li.menu-header.small.text-uppercase
                span.menu-header-text Team Management
              li.menu-item
                a.menu-link(href="/team")
                  i.menu-icon.tf-icons.ti.ti-users
                  div(data-i18n="Team") Team
            // Support
            li.menu-header.small.text-uppercase
              span.menu-header-text Issues
            li.menu-item
              a.menu-link(href="#")
                i.menu-icon.tf-icons.ti.ti-message-report
                div(data-i18n="Support") Support
            li.menu-header.small.text-uppercase
              span.menu-header-text MB App V1.0
        // / Menu
        // Layout container
        .layout-page
          // Navbar
          nav#layout-navbar.layout-navbar.container-xxl.navbar.navbar-expand-xl.navbar-detached.align-items-center.bg-navbar-theme
            .layout-menu-toggle.navbar-nav.align-items-xl-center.me-3.me-xl-0.d-xl-none
              a.nav-item.nav-link.px-0.me-xl-4(href="javascript:void(0)")
                i.ti.ti-menu-2.ti-sm
            #navbar-collapse.navbar-nav-right.d-flex.align-items-center
              .navbar-nav.align-items-center
                a.nav-link.style-switcher-toggle.hide-arrow(href="javascript:void(0);")
                  i.ti.ti-sm
              ul.navbar-nav.flex-row.align-items-center.ms-auto
                // User
                li.nav-item.navbar-dropdown.dropdown-user.dropdown
                  a.nav-link.dropdown-toggle.hide-arrow(href="javascript:void(0);", data-bs-toggle="dropdown")
                    i.fa-regular.fa-2x.fa-circle-user
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href="#")
                        .d-flex
                          .flex-shrink-0.me-3
                            i.fa-regular.fa-2x.fa-circle-user
                          .flex-grow-1
                            - const loggedRole = loggedUser.role.replace(/-/g, " ").split(" ").map(word=>word.charAt(0).toUpperCase() + word.slice(1)).join(" ");
                            span.fw-semibold.d-block= `${loggedUser.name}`
                            small.text-muted= `${loggedRole}`
                    li
                      .dropdown-divider
                    li
                      a.dropdown-item(href="#")
                        i.ti.ti-logout.me-2.ti-sm
                        span.align-middle Log Out
                // / User
          // / Navbar
          // Content wrapper
          .content-wrapper
            // Content
            .container-xxl.flex-grow-1.container-p-y
              .card
                .card-header.flex-column.flex-md-row
                  .head-label.text-start
                    h5.card-title.mb-0 Warehouse Table
                  .dt-action-buttons.text-end.pt-3.pt-md-0
                    .dt-buttons
                      button.dt-button.create-new.btn.btn-primary(tabindex="0", aria-controls="DataTables_Table_0", type="button")
                        span
                          i.ti.ti-plus.me-sm-1
                          span.d-none.d-sm-inline-block(data-bs-toggle="modal", data-bs-target="#additem") Add New Record
                // Search Form
                .card-body
                  form(class="dt_adv_search", method="POST")
                    .row
                      .col-12
                        .row.g-3
                          .col-12.col-sm-6.col-lg-4
                            label.form-label Name:
                            input.form-control.dt-input(type="text", data-column="2", placeholder="", data-column-index="1")
                          .col-12.col-sm-6.col-lg-4
                            label.form-label Serial Number:
                            input.form-control.dt-input(type="number", data-column="2", placeholder="", data-column-index="1")
                          .col-12.col-sm-6.col-lg-4
                            label.form-label Status:
                            select.form-control.dt-input(placeholder="Status")
                              option(value="")
                              option(value="In Warehouse") In Warehouse
                              option(value="Installed") Installed
                              option(value="Sent") Sent
                              option(value="Returned") Returned
                hr.mt-0
                .card-datatable.table-responsive
                  table.dt-advanced-search.table
                    thead
                      tr
                        th Date
                        th Name
                        th Serial No.
                        th Part No.
                        th From
                        th Recieved by
                        th Rack
                        th Status
                        th Action

                    for warehouse in data
                      tr.odd
                        td= warehouse.date
                        td= warehouse.name
                        td= warehouse.serialnumber
                        td= warehouse.partnumber
                        td= warehouse.from
                        td= warehouse.receiver
                        td= warehouse.rack

                        td
                          if warehouse.status === 'In Warehouse'
                            span.badge.bg-label-primary In Warehouse
                          else if warehouse.status === 'Installed'
                            span.badge.bg-label-success Installed
                          else if warehouse.status === 'Sent'
                            span.badge.bg-label-warning Sent
                          else if warehouse.status === 'Returned'
                            span.badge.bg-label-danger Returned
                        td
                          a.btn.btn-sm.btn-icon.item-edit(data-bs-toggle="modal", data-bs-target="#editrecord")
                            i.text-primary.ti.ti-pencil

                    tfoot
                      tr
                        th Date
                        th Name
                        th Serial No.
                        th Part No.
                        th From
                        th Recieved by
                        th Rack
                        th Status
                        th Action
              // / Advanced Search
            // / Content
            #additem.modal.fade(tabindex="-1", aria-hidden="true")
              .modal-dialog.modal-lg.modal-simple.modal-edit-user
                .modal-content.p-3.p-md-5
                  .modal-body
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .text-center.mb-4
                      h3.mb-2 Add New Record
                      p.text-muted Add new warehouse recieved item.
                    form#additemForm.row.g-3.fv-plugins-bootstrap5.fv-plugins-framework(onsubmit="return false", novalidate="novalidate", data-select2-id="additemForm")
                      .col-12.col-md-6
                        label.form-label(for="SerialNumber") Serial Number
                        input#SerialNumber.form-control(type="text", name="SerialNumber", placeholder="Serial Number")
                      .col-12.col-md-6
                        label.form-label(for="PartNumber") Part Number
                        input#PartNumber.form-control(type="text", name="PartNumber", placeholder="Part Number")
                      .col-12
                        label.form-label(for="Name") Name
                        input#Name.form-control(type="text", name="Name", placeholder="Analog Board")
                      .col-12.col-md-6.fv-plugins-icon-container
                        label.form-label(for="Receiver") Recieved By
                        input#Receiver.form-control(type="text", name="Reciever", placeholder="Recieved By")
                      .col-12.col-md-6
                        label.form-label(for="From") From
                        input#From.form-control(type="text", name="From", placeholder="Part Number")
                      .col-12.col-md-6
                        label.form-label(for="DeliveryMethod") Delivery Method
                        select#DeliveryMethod.form-select(name="DeliveryMethod", aria-label="Default select example")
                          option(value="")
                          option(value="Internal Driver")
                            | Internal Driver
                          option(value="DHL") DHL
                          option(value="SPL") SPL
                          option(value="Other") Other
                      .col-12.col-md-6
                        label.form-label(for="Status") Status
                        select#Status.form-select(name="Status", aria-label="Default select example")
                          option(value="")
                          option(value="In Warehouse") In Warehouse
                          option(value="Installed") Installed
                          option(value="Sent") Sent
                          option(value="Returned") Returned
                      .col-12.col-md-6
                        label.form-label(for="modalEditDate") Recieving Date
                        input#modalEditDate.form-control.dt-input.dt-full-name(type="date", name="modalEditDate")
                      .col-12.col-md-6
                        label.form-label(for="TypeaheadBasic") Rack
                        input#TypeaheadBasic.form-control.typeahead(type="text", autocomplete="off", placeholder="Rack Number")
                      .col-12.mb-4
                        label.form-label(for="Name") Comments
                        textarea#autosize-demo.form-control.addComment(rows="3", spellcheck="false")
                    .col-12.text-center
                      button#addWarehouseBtn.btn.btn-primary.me-sm-3.me-1.waves-effect.waves-light(type="submit")
                        | Add
                      button.btn.btn-label-secondary.waves-effect(type="reset", data-bs-dismiss="modal", aria-label="Close")
                        | Cancel
                    input(type="hidden")
            // Edit
            #editrecord.modal.fade(tabindex="-1", aria-hidden="true")
              .modal-dialog.modal-lg.modal-simple.modal-edit-user
                .modal-content.p-3.p-md-5
                  .modal-body
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .text-center.mb-4
                      h3.mb-2 Edit Record
                      p.text-muted Edit warehouse recieved item.
                    form#edititemForm.row.g-3.fv-plugins-bootstrap5.fv-plugins-framework(onsubmit="return false", novalidate="novalidate", data-select2-id="additemForm")
                      .col-12.col-md-6
                        label.form-label(for="addSerialNumber") Serial Number
                        input#addSerialNumber.form-control(type="text", value="JI153859208", name="SerialNumber", placeholder="Serial Number")
                      .col-12.col-md-6
                        label.form-label(for="addPartNumber") Part Number
                        input#addPartNumber.form-control(type="text", value="3CR01836AEAB", name="PartNumber", placeholder="Part Number")
                      .col-12
                        label.form-label(for="addName") Name
                        input#addName.form-control(type="text", value="Analog Board", name="Name", placeholder="Analog Board")
                      .col-12.col-md-6.fv-plugins-icon-container
                        label.form-label(for="addReciever") Recieved By
                        input#addReciever.form-control(type="text", value="Eisa", name="Reciever", placeholder="Recieved By")
                      .col-12.col-md-6
                        label.form-label(for="addFrom") From
                        input#addFrom.form-control(type="text", value="Nariyah", name="From", placeholder="Part Number")
                      .col-12.col-md-6
                        label.form-label(for="addDeliveryMethod") Delivery Method
                        select#addDeliveryMethod.form-select(name="DeliveryMethod", aria-label="Default select example")
                          option(value="")
                          option(value="Internal Driver")
                            | Internal Driver
                          option(selected, value="DHL") DHL
                          option(value="SPL") SPL
                          option(value="Other") Other
                      .col-12.col-md-6
                        label.form-label(for="addStatus") Status
                        select#addStatus.form-select(name="Status", aria-label="Default select example")
                          option(value="")
                          option(selected, value="In Warehouse")
                            | In Warehouse
                          option(value="Installed") Installed
                          option(value="Sent") Sent
                          option(value="Returned") Returned
                      .col-12.col-md-6
                        label.form-label(for="addmodalEditDate") Recieving Date
                        input#addmodalEditDate.form-control.dt-input.dt-full-name(type="date", value="2022-12-01", name="modalEditDate")
                      .col-12.col-md-6
                        label.form-label(for="addTypeaheadBasic") Rack
                        input#addTypeaheadBasic.form-control.typeahead(value="R04-A1", type="text", autocomplete="off", placeholder="Rack Number")
                      .col-12.mb-4
                        label.form-label(for="Name") Comments
                        textarea#autosize-demo.form-control.editComment(rows="3", spellcheck="false")
                          | Damaged need to resent next week
                    .col-12.text-center
                      button.btn.btn-primary.me-sm-3.me-1.waves-effect.waves-light(type="submit")
                        | Add
                      button.btn.btn-label-secondary.waves-effect(type="reset", data-bs-dismiss="modal", aria-label="Close")
                        | Cancel
                    input(type="hidden")
            // Footer
            footer.content-footer.footer.bg-footer-theme
              .container-xxl
            // / Footer
            .content-backdrop.fade
          // Content wrapper
        // / Layout page
      // Overlay
      .layout-overlay.layout-menu-toggle
      // Drag Target Area To SlideIn Menu On Small Screens
      .drag-target
    // / Layout wrapper
    // Core JS
    script(src="/assets/vendor/js/core.js")
    script( src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js')
    script(type='module' src="/js/warehouse.js")
    script(type='module' src="/js/logout.js")
